.footer{
    text-align: center;
    background-color: rgb(54, 48, 48);
}
.footer_index{
    font-size: 18px;
    text-align: center;
    color: white;
}
.fta{
    background-color: #c1c7c1;
}
.titfooter{
    font-size: 22px;
    text-align: left;
    color: white;
}